#menu{
  list-style: none;
  font-size: 40px;
  background-color: black;
  text-align: center;
}
li{
padding: 10px;
border: 2px solid white;
}
a
{
text-decoration:none;
color: white;
}
body
{
  background-color: #efc978;
  width: 99%;
}
body p{
  font-size: 30px;
  text-align: center;
}
.foto_cabezera{
  display: flex;
  justify-content: center;
  width: 100%;
}
